<div class="p-4 border container-fluid">

    <div class="searchBar">
        <input type="text" id="ProdService" name="ProdService" placeholder="Produit, Service, ..." required>
        <select id="categorie" name="categorie">
            <option selected>Catégories</option>
            <option>Mode</option>
            <option>Alimentation</option>
            <option>Multimédia</option>
            <option>Sport</option>
        </select>
        <input type="text" id="localisation" name="localisation" placeholder="Localisation" required>
        <button id="rechercher">Rechercher</button>
    </div>

    <div class="">

        <div class="d-flex justify-content-end">
            <button class="btn btn-light" (click)="changeStyle(types.CARD)">
                card
            </button>
            <button class="btn btn-light" (click)="changeStyle(types.LIST)">
                list
            </button>
        </div>
        <div   class="" 
            [ngClass]="{'article-list-style' : articleListStyle === types.LIST , 'article-card-style' : articleListStyle === types.CARD}" >
            <app-article class="card" *ngFor="let article of articles" [article]="article" [typeList]="articleListStyle"></app-article>
        </div>
    </div>
</div>