<div class="p-4 border container-fluid">
    <form [formGroup]="searchForm" class="formulaire " (ngSubmit)="onSubmit()">
        <div class="searchBar">
            <input type="text" id="ProdService" name="ProdService" class="barre" placeholder="Produit, Service, ..." required
            formControlName="titleArticle">
            <select id="categorie" name="categorie" class="barre">
                <option selected>Catégories</option>
                <option>Mode</option>
                <option>Alimentation</option>
                <option>Multimédia</option>
                <option>Sport</option>
            </select>
            <input type="text" id="localisation" name="localisation" class="barre" placeholder="Localisation" required formControlName="addressArticle">


            
            <button id="rechercher" (click)="onSubmit()">{{ 'searching' | translate }}</button>
        </div>
        <div class="filtres">
            <label style="font-size: 17px; margin-top: 7px;">Filtrer :</label>
            <input type="text" id="minPrice" name="minPrice" class="filtre" placeholder="Prix minimum" formControlName="priceMin">
            <input type="text" id="maxPrice" name="maxPrice" class="filtre" placeholder="Prix maximum" formControlName="priceMax">
            <select id="tri" name="tri" class="filtre">
                <option selected>Croissant</option>
                <option>Décroissant</option>
            </select>
        </div>
    </form>

    <div class="">

        <div class="d-flex justify-content-end boutons pr-4 gap-2">
            <button class="btn btn-light" (click)="changeStyle(types.CARD)">
                {{ 'card' | translate }}
            </button>
            <button class="btn btn-light" (click)="changeStyle(types.LIST)">
                {{ 'list' | translate }}
            </button>
            <button class="btn btn-light" (click)="changeStyle(types.MAP)">
                {{ 'map' | translate }}
            </button>
        </div>
        <p *ngIf="loading">{{ "loading..." | translate }}</p>
        <p *ngIf="error">{{ error | translate }}</p>

        <!-- <div   [ngClass]="{'article-list-style' : articleListStyle === types.LIST , 'article-card-style' : articleListStyle === types.CARD}" >
            <app-article class="carte" *ngFor="let article of articles" [article]="article" [typeList]="articleListStyle"></app-article>
        </div> -->
        <button id="pagination">&laquo; Précédent</button>
        <button id="pagination">Suivant &raquo;</button>

        <div class="col-12">
            <app-article-list [articleListStyle]="articleListStyle" [articles]="articles"></app-article-list>
        </div>
    </div>
</div>