<div *ngIf="list" class="article-list-item card">

    <div class="article-list-item-head">
        <p class="article-list-title">{{ article.title }}</p>
        <p class="article-list-price">{{ article.price }} €</p>
    </div>
    <p class="article-list-description">{{ article.description }}</p>


</div>


<div class="card" style="width: 18rem;" *ngIf="!list">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">{{ article.title }}</h2>
        <p class="card-text" style="font-size: 15px;">{{ article.price }} €</p>
    </div>
    <img class="rounded-circle" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"/>
    <p id="description" class="article-card-description w-25">{{ article.description }}</p>
</div>

