.row {
   display: block;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   width:80%;
   height: 70% !important;
   box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
   border: 0.7px solid lightgrey;
   border-radius: 5px;
}

.formulaire {
    width: 38vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
    
h1 {
   text-align: center;
}
    
   h1 {
    font-size: 37px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
    
   p {
    font-family: Arial, Helvetica, sans-serif;
   }
    
   input[type=text], select {
      width: 80%;
      padding: 10px 18px;
      margin-top: 20px;
      display: inline-block;
      font-size: 16px;
      border-left-style: none;
      border-right-style: none;
      border-top-style: none;
      border-color: rgb(91, 83, 83);
      border-radius: 0px;
      border-width: 2px;
   }

   input[type=text] {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

    
   .champs {
    margin-top: 60px;
   }
    
   #ajouter {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #60bc71;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
   }
    
   #ajouter:hover {
    transition-duration: .3s;
    background-color: #3e7b49;
   }
    
   #inscr {
    font-size: 14px;
    text-align: center;
   }
    
   .inputfile {
      display: none;
   }
    
   .inputfile + label {
      text-align: center;
      font-size: 3em;
      font-weight: 700;
      background-image:url("https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103595_960_720.png");
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px;
      height:145px;
      width:270px;
      border : 1px solid grey;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 35px;
      border-radius: 10px;
   }
    
   .inputfile:focus + label,
   .inputfile + label:hover {
      background-color: rgba(211, 211, 211, 0.337);
   }
    
   .inputfile + label {
    cursor: pointer; /* "hand" cursor */
   }
   
   #display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }

  #myImg {
   width:270px;
   height: 145px; 
   position: relative; 
   margin-top: -180px; 
   display:block;
   margin-left:auto; 
   margin-right: auto; 
   border-radius: 10px;
 }

 #name {
   margin-top: 25px;
 }