<div class="row g-0">
  <div class="col-sm-7">
    <form class="formulaire" [formGroup]="catalogForm" (ngSubmit)="addCatalog()">
        <h1>Création d'un catalogue</h1>
        <div class="champs">
        
        <input type="file" class="file" name="file" id="file" class="inputfile" value="rien" onchange="document.getElementById('myImg').src='../assets/images/'+file.value.substring(12);"/>
        <label id="label" style="position: relative; z-index: 1;" for="file"></label>
        <img id="myImg" [src]="pictureLink" alt="">
        <input type="text"  name="picture"  required
            placeholder="{{ 'picture' | translate }} {{ 'link' | translate }} ..."
            ng-model="registerForm.controls[picture]"
            (change)='changePicture($event)'
        >
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Nom"
            formControlName="titleCatalog"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted}"
          />
          <div *ngIf="submitted " class="invalid-feedback">
            <div>Name is required</div>
          </div>
        
          <input
            type="text"
            id="address"
            name="address"
            placeholder="Adresse"
            formControlName="addressCatalog"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <div *ngIf="submitted" class="invalid-feedback">
            <div>Address is required</div>
          </div>

          <div>
            <label id="label" style="position: relative; z-index: 1;" for="file">{{ "activateCatalog" | translate }}</label>

            <select type="text" id="nom" name="nom"  required
            formControlName="activateCatalog"
            ng-model="catalogForm.controls[activateCatalog]"
            >
            <option value="1">{{ 'anable' | translate }}</option>
            <option value="0">{{ 'disable' | translate }}</option>
            </select>
             <div
                *ngIf="catalogForm.controls['activateCatalog'].hasError('required') && catalogForm.controls['activateCatalog'].touched"
                class="text text-danger mt-1">
                {{ "activateCatalog" | translate }} {{ "is required" | translate }}
            </div>
          </div>

          <div>
            <label id="label" style="position: relative; z-index: 1;" for="file">{{ "homeBased" | translate }}</label>

            <select type="text" id="nom" name="nom"  required
            formControlName="homeBased"
            ng-model="catalogForm.controls[homeBased]"
            >
            <option value="1">{{ 'anable' | translate }}</option>
            <option value="0">{{ 'disable' | translate }}</option>
            </select>
             <div
                *ngIf="catalogForm.controls['homeBased'].hasError('required') && catalogForm.controls['homeBased'].touched"
                class="text text-danger mt-1">
                {{ "homeBased" | translate }} {{ "is required" | translate }}
            </div>
          </div>

          <!-- <input
            type="text"
            id="city"
            name="city"
            placeholder="Ville"
            formControlName="city"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted }"
          />
          <div *ngIf="submitted" class="invalid-feedback">
            <div>City is required</div>
          </div>

          <input
          type="text"
          id="phone"
          name="phone"
          placeholder="Téléphone"
          formControlName="phone"
          [ngClass]="{ 'is-invalid': submitted }"
        /> -->

          <button id="ajouter" [disabled]="loading" (submit)="addCatalog()">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Ajouter</button
          ><br />
        
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
        
        </div>
    </form>
  </div>
  <div class="col-sm-5">
    <img src="../assets/images/ajoutCatalogue.jpg" style="width:100%; height:100%;" alt="">
  </div>
</div>



   
