<div >
    <div class="contain">
        <div class="row g-0">
            <div class="col">
                <img class="rounded-circle" alt="100x100" src="https://media.istockphoto.com/vectors/default-avatar-profile-icon-vector-vector-id1337144146?b=1&k=20&m=1337144146&s=170667a&w=0&h=ys-RUZbXzQ-FQdLstHeWshI4ViJuEhyEa4AzQNQ0rFI="/>
            </div>
            <div class="col-8">
                <H1>Nom : {{ user.firstName }}</H1>
                <p>Adresses</p>
                <p>Tel</p>
            </div> 
            <a *ngIf="updateOption" class="btn btn-secondary boutonUpdt" routerLink="/user/account"> {{ 'update' |translate}} {{ 'account' | translate }} </a>
        </div> 
    </div>

    <div class="container p-2 mt-2 d-flex justify-content-end">
        <!-- <button *ngIf="showDetailCatalog" class="ml-auto btn btn-light mr-2" (click)="setShowDetailCatalog(false)">
            {{ "List Catalog" }}
        </button> -->
        <a *ngIf="currentCatalogId && updateOption" id="addArticle" class="btn btn-outline-danger" [routerLink]="'/user/catalogs/'+currentCatalogId+'/add-article'">{{ 'add' |translate}} {{ 'article' |translate}} </a>  

        <a *ngIf="updateOption" class="btn btn-secondary" routerLink="/user/add-catalog"><img style="width:20px; vertical-align: text-bottom; margin-right: 5px;" src="../assets/images/ajouter.png" alt="">{{ 'add' |translate}} {{ 'catalog' |translate}}</a>  
     
    </div>
    
    <div *ngIf="!showDetailCatalog ; then catalogList ; else catalogDetails"></div>
        
    <ng-template #catalogList> 
        <app-catalog-list [catalogs]="catalogs" ></app-catalog-list>
    </ng-template>
    <ng-template #catalogDetails>

        <div class="container bg-light">
    
            <div class="d-flex justify-content-end boutons">
                <button class="btn btn-light" (click)="changeStyle(types.CARD)">
                    {{ 'card' | translate }}
                </button>
                <button class="btn btn-light" (click)="changeStyle(types.LIST)">
                    {{ 'list' | translate }}
                </button>
            </div>
        
            <h3>Nombre d'articles : {{ articles.length }}    ( Détail du catalogue )</h3>
            
            <div class="d-flex cartes">
                <app-article-list [articleListStyle]="articleListStyle" [articles]="articles"></app-article-list>

                <!-- <app-article class="carte" *ngFor="let article of articles" [article]="article" [typeList]="articleListStyle"></app-article> -->
        
                <!--div class=" card p-4" *ngFor="let article of articles">
                
                    <p >
                        {{ article.titleArticle }}
                    </p>
                </div-->
        
            </div>
        </div>

    </ng-template>
    
</div>