<div >
    <div class="contain">
        <div class="row">
            <div class="col">
                <img class="rounded-circle" alt="100x100" src="https://media.istockphoto.com/vectors/default-avatar-profile-icon-vector-vector-id1337144146?b=1&k=20&m=1337144146&s=170667a&w=0&h=ys-RUZbXzQ-FQdLstHeWshI4ViJuEhyEa4AzQNQ0rFI="/>
            </div>
            <div class="col-8">
                <H1>Nom Prénom</H1>
                <p>Adresses</p>
                <p>Tel</p>
            </div>   
        </div> 
    </div>

    <div class="row catalogues">
        <div class="p-2 col-4" >
            <div class = "catalogue">
                <img class="card-img-top" src="https://www.ecommercemag.fr/Assets/Img/BREVE/2016/4/303588/est-chef-produit-VPC--F.jpg" alt="Card image cap">
                <h2>Catalogue</h2>
                <p>Nombre de produits</p>
            </div>
        </div>
        <div class="p-2 col-4" >
            <div class = "catalogue">
                <img class="card-img-top" src="https://www.ecommercemag.fr/Assets/Img/BREVE/2016/4/303588/est-chef-produit-VPC--F.jpg" alt="Card image cap">
                <h2>Catalogue</h2>
                <p>Nombre de produits</p>
            </div>
        </div>
        <div class="p-2 col-4" >
            <div class = "catalogue">
                <img class="card-img-top" src="https://www.ecommercemag.fr/Assets/Img/BREVE/2016/4/303588/est-chef-produit-VPC--F.jpg" alt="Card image cap">
                <h2>Catalogue</h2>
                <p>Nombre de produits</p>
            </div>
        </div>
    </div>
    
</div>