<form class="formulaire" [formGroup]="registerForm" (submit)="onSubmit()">
     <h1>S'inscrire</h1>
    <img class="rounded-circle" alt="100x100" [src]="photoLink"/>
    <input type="text"  name="photo"
        placeholder="{{ 'photo' | translate }} {{ 'link' | translate }} ..."
        formControlName="photo"
        ng-model="registerForm.controls[photo]"
        (change)='changePhoto($event)'
    >
    <div class="champs">
    <!-- radio button -->
    <div>
        <p id="qui">
            Je suis :
            <input type="radio" name="role" [value]="role1"
            formControlName="role"
            ng-model="registerForm.controls[role]" 
            />
            {{ 'particulier' | translate }}
            <input type="radio" name="role" [value]="role2" 
            formControlName="role"
            ng-model="registerForm.controls[role]"
            />
            {{ 'professionnel' | translate }}
            
        </p>
        <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
            <div *ngIf="f['role'].errors['required']">{{ "role" | translate }} {{ "is required" | translate }}</div>
          </div>

    </div>

    <div>
        <input type="text" id="nom" name="nom"  required
        placeholder="{{ 'firstName' | translate }}..."
        formControlName="firstName"
        ng-model="registerForm.controls[firstName]"
        >
         <div
            *ngIf="registerForm.controls['firstName'].hasError('required') && registerForm.controls['firstName'].touched"
            class="text text-danger mt-1">
            {{ "firstName" | translate }} {{ "is required" | translate }}
        </div>

    </div>

    <div>
        <input type="text" id="prenom" name="prenom" required
        placeholder="{{ 'lastName' | translate }}..."
        formControlName="lastName"
        ng-model="registerForm.controls[lastName]"
        >
         <div
            *ngIf="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].hasError('required')"
            class="text text-danger mt-1">
            {{ "lastName" | translate }} {{ "is required" | translate }}
        </div>
    </div>
    <div>
        <input type="text" id="email" name="email" required
        placeholder="{{ 'email' | translate }}..."
        formControlName="email"
        ng-model="registerForm.controls[email]" >
         <div
            *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('required')"
            class="text text-danger mt-1">
            {{ "email" | translate }} {{ "is required" | translate }}
        </div>
    </div>

    <div>
        <input type="tel" id="phoneUser" name="phoneUser" 
        placeholder="{{ 'phoneNumber' | translate}} ..."
        formControlName="phoneUser"
        ng-model="registerForm.controls[phoneUser]"
        >
    </div>

    <div>
        <input type="password" id="password" name="password" required
        placeholder="{{ 'password' | translate }}..."
        formControlName="password"
        ng-model="registerForm.controls[password]"
        >
         <div
            *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].hasError('required')"
            class="text text-danger mt-1">
            {{ "password" | translate }} {{ "is required" | translate }}
        </div>
    </div>
    
    <div>
        <input type="password" id="confPassword" name="confPassword" required
        placeholder="{{ 'confirm_password' | translate }}..."
        formControlName="confirm_password"
        ng-model="registerForm.controls[confirm_password]"
        >
         <div
            *ngIf="registerForm.controls['confirm_password'].touched && registerForm.controls['confirm_password'].hasError('required')"
            class="text text-danger mt-1">
            {{ "confirm_password" | translate }} {{ "is required" | translate }}
        </div>
        <div
        *ngIf="registerForm.errors?.['notSame']"
        class="text text-danger mt-1">
        {{ "confirm_password" | translate }} {{ "notSame" | translate }}
    </div>


    </div>

    <button id="connecter" [disabled]="loading" (submit)="onSubmit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        {{ 'register' | translate }}
      </button><br />
  
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

      <p id="inscr">Vous avez un compte ?  <a routerLink="/user/login">Je me connecte</a></p>
    </div>
</form>