<div class="formulaire">
    <h1>Bonjour !</h1><br/>
    <p id="sstitre">Connectez-vous pour accéder à toutes nos fonctionnalités.</p>
    <div class="champs">
      <input type="text" id="email" name="email" placeholder="email" required>
      <input type="text" id="password" name="password" placeholder="mot de passe" required>
      <button id="connecter">Se connecter</button><br/>
      <p id="inscr">Vous n’avez pas de compte ?  <a routerLink="/user/register">Créer un compte</a></p>
    </div>
</div>