<form [formGroup]="loginForm" class="formulaire" (ngSubmit)="onSubmit()">
  <h1>Bonjour !</h1><br />
  <p id="sstitre">Connectez-vous pour accéder à toutes nos fonctionnalités.</p>
  <div class="champs">

    <input type="text" id="email" name="email" placeholder="email" formControlName="email"
      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" 
      />

<!--       
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
      <div *ngIf="f['email'].errors['required']">Email is required</div>
    </div> -->

    <input type="password" id="password" name="password" placeholder="mot de passe" 
    formControlName="password"
      class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
    <!-- <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
      <div *ngIf="f['password'].errors['required']">Password is required</div>
    </div> -->

    <button id="connecter" [disabled]="loading" (submit)="onSubmit()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Se connecter
    </button><br />

    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    
    <p id="inscr">{{'Youdonthaveanyaccount' | translate}} <a routerLink="/user/register">Créer un compte</a></p>
  </div>
</form>