.contain {
    margin-top: 70px;
}

.carousel {
    width : 85%;
    margin-left: 8%;
}

.btn {
    box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
}

.rounded-circle {
    width : 15%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.name {
    margin-left: 20px;
}