<div class="ajoutArticle">
    <br/><br/>
    <form class="formulaire" [formGroup]="articleForm" (ngSubmit)="addArticle()">
        <h1>Nouvel article</h1>
        <div class="champs">
        
        <input type="file" class="file" name="file" id="file" class="inputfile" value="rien" onchange="document.getElementById('myImg').src='../assets/images/'+file.value.substring(12);"/>
        <label id="label" style="position: relative; z-index: 1;" for="file"></label>
        <img id="myImg" [src]="pictureLink" alt="">

        <input type="text"  name="picture"  required
            placeholder="{{ 'picture' | translate }} {{ 'link' | translate }} ..."
            ng-model="registerForm.controls[picture]"
            (change)='changePicture($event)'
            [disabled]="!isProfessional"
        >

        <input
            type="text"
            id="name"
            name="name"
            placeholder="Nom"
            formControlName="titleArticle"
            class="form-control"
        />
        <div class="invalid-feedback">
            <div>Name is required</div>
        </div>
        
        <input
            type="text"
            id="price"
            name="price"
            placeholder="Prix"
            formControlName="priceArticle"
            class="form-control"
        />
        <div class="invalid-feedback">
            <div>Address is required</div>
        </div>

        <input
            type="text"
            id="description"
            name="description"
            placeholder="Description"
            formControlName="descriptionArticle"
            class="form-control"
        />
        <div class="invalid-feedback">
            <div>Description is required</div>
        </div>

        <div>
            <label style="font-size:17px;">{{ "Catégorie" | translate }}</label>
            <select type="text" 
                (change)="changeCategory($event)"
                style="display:block;margin-left:auto;margin-right:auto;"
            >
            <option *ngFor="let category of categorys" [value]="category.idCategory">{{ category.nameCategory | translate }}</option>
            </select>

            <label style="font-size:17px;">{{ "Sous-catégorie" | translate }}</label>
            <select type="text"  required
            formControlName="id_SubCategory"
            ng-model="articleForm.controls[id_SubCategory]"
            style="display:block;margin-left:auto;margin-right:auto;"
            >
            <option *ngFor="let subCategory of subCategorys" [value]="subCategory.idSubCategory">{{ subCategory.nameSubCategory | translate }}</option>
            </select>
        <div>

        <!-- <input
        type="text"
        id="category"
        name="category"
        placeholder="Catégorie"
        class="form-control"
        />
        <div class="invalid-feedback">
            <div>Category is required</div>
        </div> -->
        </div>
            <label id="label" style="position: relative; z-index: 1; font-size: 17px;" for="file">{{ "Type d'article" | translate }}</label>
            
            <select type="text"  required
            formControlName="isProduct"
            ng-model="articleForm.controls[isProduct]"
            style="display:block;margin-left:auto;margin-right:auto;"
            >
            <option [value]="1">{{ 'product' | translate }}</option>
            <option [value]="0">{{ 'service' | translate }}</option>
            </select>
             <div
                *ngIf="articleForm.controls['isProduct'].hasError('required') && articleForm.controls['isProduct'].touched"
                class="text text-danger mt-1">
                {{ "isProduct" | translate }} {{ "is required" | translate }}
            </div>
          </div>

        <button id="ajouter" [disabled]="!isProfessional">
            {{ 'add' | translate }} </button
          ><br />
        
        </div>
    </form>
    <br/><br/>
</div>
    
    
    
        
    