<div class="ajoutArticle">
    <br/><br/>
    <form class="formulaire">
        <h1>Nouvel article</h1>
        <div class="champs">
        
        <input type="file" class="file" name="file" id="file" class="inputfile" value="rien" onchange="document.getElementById('myImg').src='../assets/images/'+file.value.substring(12);"/>
        <label id="label" style="position: relative; z-index: 1;" for="file"></label>
        <img id="myImg" src="#" alt="">
        <input
            type="text"
            id="name"
            name="name"
            placeholder="Nom"
            formControlName="name"
            class="form-control"
        />
        <div class="invalid-feedback">
            <div>Name is required</div>
        </div>
        
        <input
            type="text"
            id="price"
            name="price"
            placeholder="Prix"
            formControlName="price"
            class="form-control"
        />
        <div class="invalid-feedback">
            <div>Address is required</div>
        </div>

        <input
            type="text"
            id="description"
            name="description"
            placeholder="Description"
            formControlName="description"
            class="form-control"
        />
        <div class="invalid-feedback">
            <div>Description is required</div>
        </div>

        <input
        type="text"
        id="category"
        name="category"
        placeholder="Catégorie"
        formControlName="category"
        class="form-control"
        />
        <div class="invalid-feedback">
            <div>Category is required</div>
        </div>

        <button id="ajouter">
            Ajouter</button
          ><br />
        
        </div>
    </form>
    <br/><br/>
</div>
    
    
    
        
    