<nav class="navbar navbar-expand-lg navbar-danger bg-danger p-2">
    <a routerLink="" class="navbar-brand text-light font-weight-bold">Catalog</a>

    <div class="navbar-link p-2">
        <select class="language-select text-light " #langselect (change)="translate.use(langselect.value)">
            <option class="text-dark" *ngFor="let lang of translate.getLangs()" [value]="lang">
                <mat-icon aria-label="lang">{{ lang }}</mat-icon> 
            </option>
        </select>
        <ul >
            <li>
                <a routerLink="search" class=""> {{'search' | translate}} </a>
            </li>
            <li>
                <a routerLink="user/register" class=""> {{'register' | translate}} </a>
            </li>
            <li class="">
                <a routerLink="user/login" class=""> {{'login' | translate}} </a>
            </li>
            <li>
                <a routerLink="user/account" class=""> 
                    <mat-icon aria-label="account">account_circle</mat-icon>
                </a>
            </li>
        </ul>
    </div>

</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-danger bg-danger p-2">
    <a routerLink="" class="navbar-brand text-light font-weight-bold">Catalog</a>
    
    <div class="container-fluid text-right bg-success">
        <a routerLink="" ></a>
        <a routerLink="" ></a>
        <a routerLink="" ></a>
    </div>

    <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/favorite"><i class="material-icons left">favorite</i>My favorites</a></li>
        <li routerLinkActive="active"><a routerLink="/search"><i class="material-icons right">search</i>Search superhero</a></li>
      </ul>
</nav> -->