.formulaire {
    width: 40vw;
    min-height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
    
h1 {
  text-align: center;
  font-size: 37px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 45px;
  }
    
    
input[type=text],input[type=password], select {
  padding: 12px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
    
   .champs {
    margin-top: 7%;
   }
    
   #modifier {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #698fda;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
   }
    
   #modifier:hover {
    transition-duration: .3s;
    background-color: #485f8e;
   }
    
   #inscr {
    font-size: 14px;
    text-align: center;
   }
    
   .inputfile {
      display: none;
   }
    
   .inputfile + label {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    background-image:url("https://cdn-icons-png.flaticon.com/512/748/748137.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    border-radius: 100px;
    height:105px;
    width:105px;
    border : 1px solid grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
   }
    
   .inputfile:focus + label,
   .inputfile + label:hover {
    background-color: rgba(211, 211, 211, 0.337);
   }
    
   .inputfile + label {
    cursor: pointer; /* "hand" cursor */
   }
   
   #display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }

  .infoProfil {
    display: flex;
    margin-top: 5%;
    margin-left: 11px;
  }

  h3 {
    font-size: 19px;
  }

  p {
    margin-left: 30px;
    margin-top:5px;
    font-size: 16px;
    color:#808080;
  }

  #myImg {
    width:105px;
    height: 105px; 
    z-index: -1; 
    position: relative; 
    margin-top: -140px; 
    display:block;
    margin-left:auto; 
    margin-right: auto; 
    border-radius: 100px;
  }

  #name {
    margin-top: 25px;
  }