<div class="container bg-light">
    
    <div class="d-flex justify-content-end boutons">
        <button class="btn btn-light" (click)="changeStyle(types.CARD)">
            {{ 'card' | translate }}
        </button>
        <button class="btn btn-light" (click)="changeStyle(types.LIST)">
            {{ 'list' | translate }}
        </button>
    </div>

    <h3>Nombre d'articles : {{ articles.length }}    ( Détail du catalogue )</h3>
    
    <div class="d-flex cartes">

        <app-article class="carte" *ngFor="let article of articles" [article]="article" [typeList]="articleListStyle"></app-article>

        <!--div class=" card p-4" *ngFor="let article of articles">
        
            <p >
                {{ article.titleArticle }}
            </p>
        </div-->

    </div>
</div>